# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NetCDF files
*.nc4

# Compiled Project Files
usi_compression_eigen
usi_compression_minlin_host
usi_compression_minlin_device

# Vim Swap Files
*.swp
